
.Gamepage{
    background-color: rgba(38, 57, 71, 0.627);
}
.Start-info {
  position: absolute;
  top: 0;
  left: 50;
  /* Use Flexbox to perfectly center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.Sign{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 52px;
  top: 45%;
  height: 30%;
  text-align: center;
  padding-top: 80px;
  color: black;
  text-shadow: 0px 0px 5px #B4FF00;
  text-shadow: 0px 0px 10px #9AFF00;
  text-shadow: 0px 0px 5px #3FFF00;
  text-shadow: 0px 0px 15px #B4FF00;
  text-shadow: 0px 0px 30px #9AFF00;
  text-shadow: 0px 0px 15px #3FFF00;
}
.character-container{
  position: absolute;
  background-color: rgba(0,0,0, 0.4); 
  width: 350px;
  height: 340px;
  top: 35%;
  left: 12.5%;
  border-radius: 15%;
  box-shadow: black 10px 10px 10px;
  border: 2px solid black;
  z-index: 1;
}
.character-container:hover {
  cursor: pointer;
  box-shadow: black 20px 20px 20px;
  transition: 0.3s ease-in-out;
}
.user-image{
  width: 200px;
  height: 400px;
  background-color: rgb(46, 236, 52); 
  background-color: rgba(31, 195, 50, 0.4); 
  position: absolute;
  top: 45%;
  left: 18%;
  height: auto;
  z-index: 2;
  border-radius:100% ;
}
.user-image:hover {
  filter: brightness(1.2);
  transition: 0.3s;
  cursor: pointer;
  opacity: 2px;
}
.user-info{
  position: absolute;
  top: 73%;
  left: 24.5%;
  transform: translate(-50%, -50%);
  color:whitesmoke ;
  z-index: 2;
  font-size: 32px ;
  font-family: Georgia, 'Times New Roman', Times, serif,Bold;
}
.Start-info{
  width: 600px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  color: white; /* White text color */
  border: 2px solid #4A0F0F; /* White border */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Subtle glow effect */
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.start-button{
  background-color: #3FFF00; /* Green */
  border: none;
  color: #4A0F0F;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  x: 100px;
  margin-top: 20px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 4px 8px 4px #2E7000;
  margin-left: 20%;
}
.instruction{
  top: 80%;
  left: 20%;
  z-index: 2;
}