
.Start-info {
  position: absolute;
  top: 0;
  left: 50;
  
  

  /* Use Flexbox to perfectly center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}
.character-container{
  position: absolute;
  background-color: whitesmoke;
  width: 350px;
  height: 340px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: 6 px solid white;
  border-radius: 15%;
  z-index: 1;
}
.user-image{
  width: 200px;
  height: 400px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); 
  position: absolute;
  top: 32%;
  left: 18%;
  height: auto;
  z-index: 2;
  border-radius:100% ;
}
.user-image:hover {
  filter: brightness(1.2);
  transition: 0.3s;
  cursor: pointer;
  opacity: 2px;
}
.user-info{
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  color:black ;
  z-index: 2;
  font-size: 32px ;
  font-family: Georgia, 'Times New Roman', Times, serif,Bold;
}