.gaming-screen{
    position: relative;
    height: 100vh;
    width: 100vw;
    filter: blur(8px);
    overflow: hidden;
    background-color: rgb(226, 54, 54, 0.9);
    z-index: 1;
}
.upper-bg{
    background-color: rgb(226, 54, 54, 0.65);
    height: 55%;
    width: 100%;
    top: 0%;
    z-index: 1;
}
.lower-bg{
    height: 45%;
    width: 100%;
    background-color: rgba(184, 25, 25, 0.627);
    z-index: 1;
}
.lower-front-bg{
    position: absolute;
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0);
    top: 85%;
    z-index: 2;
    border: 5px solid black;
}
.Character{
    position: absolute;
    height: 250px;
    width: 200px;
    background-image: url('./character.gif');
    background-size: cover;
    top: 60%;
    left: 10%;
    z-index: 3;
}   
.Whiteghost1{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url('./whiteghost.gif');
    background-size: cover;
    top: 52%;
    left: 60%;
    z-index: 3;
}
.Whiteghost2{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url('./whiteghost.gif');
    background-size: cover;
    top: 65%;
    left: 75%;
    z-index: 3;
}
.Whiteghost3{
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url('./whiteghost.gif');
    background-size: cover;
    top: 45%;
    left: 85%;
    z-index: 3;
}